*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background: $background;
  color: $white;
}
