//COLORS
$blue: rgba(29, 161, 242, 1);
$red: rgb(224, 36, 94);
$green: #59bb6d;
$white: #fff;
$black: #000;
$dark-blue: rgb(19, 133, 204);
$border: rgb(56, 68, 77);

$background: rgb(21, 32, 43);
$hover-bg: #202e3a;
$box-bg: #192734;

//SIZES
$radius: 15px;

//TYPOGRAPHY
$font: Roboto, sans-serif;
