#home {
  header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 24px;
    padding: 15px;
    position: sticky;
    top: 0;
    background: $background;
    border-bottom: 1px solid $border;
    margin-bottom: -1px;
    z-index: 10;

    svg {
      fill: $blue;
    }
  }
}
