#right {
  position: sticky;
  top: 0;
  height: 100vh;
}

.search {
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;

  position: relative;
  border-radius: 30px;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    width: 20px;
    height: 20px;
    fill: $white;
    opacity: 0.5;
  }

  input:focus + svg {
    fill: $blue;
  }
  input {
    width: 100%;
    height: 100%;
    appearance: none;
    background: rgba($white, 0.1);
    border: 1px solid transparent;
    padding-left: calc(2rem + 20px);
    outline: none;
    color: $white;
    border-radius: 30px;

    &::placeholder {
      color: $white;
      opacity: 0.5;
      font-weight: 400;
    }

    &:focus {
      border: 1px solid $blue;
      background: transparent;
    }
  }
}

.box {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;

  border-radius: 20px;
  background: $box-bg;
  .top {
    border-bottom: 1px solid $border;
    padding: 1.5rem;
  }
  .item {
    border-bottom: 1px solid $border;
    padding: 1.5rem;
    cursor: pointer;

    &:hover {
      background: $hover-bg;
    }
    .secondary {
      font-size: 1.3rem;
    }
    .primary {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .bottom {
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background: $hover-bg;
    }
    p {
      font-size: 1.5rem;
      color: $blue;
      font-weight: 400;
    }
  }
}

.box.follow-suggestions {
  .item {
    display: grid;
    grid-template-columns: 47px 1fr 70px;
    grid-gap: 1rem;

    .primary {
      margin: 0;
    }
    .secondary {
      font-size: 1.5rem;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    button {
      width: 100%;
      height: 3.2rem;
    }
  }
}
